Suggestion for the status code in Polling process

In the [polling process](https://github.com/i-on-project/core/blob/master/docs/api/user/Authentication_Endpoints.md#using-poll) we verified that the status code 400 is sent both when the request is wrong (e.g. when we send the wrong auth_req_id) and when the request is correct but the authentication is still pending, but shouldn't they have different status codes? We think that the latter shouldn't be considered a client error, as such, we would like to suggest the status code 202 (Accepted).


![polling_bad_request](https://user-images.githubusercontent.com/56432201/119817251-a7fb8900-bee5-11eb-91ed-dda3e4a0355f.JPG)
![polling_auth_pending](https://user-images.githubusercontent.com/56432201/119817254-a8941f80-bee5-11eb-998d-76dd724ae30b.JPG)


From my perspective the 202 status code is not appropriate for this case, because the job is already in execution, and the client is simply polling for its completion. Therefore, according to the [RFC 7231 Section 6.5.4](https://datatracker.ietf.org/doc/html/rfc7231#section-6.5.4) I think that a 404 status code is more appropriate for this case as the representation for the authentication response doesn't yet exist, however, it may exist in the future.

As a result, I've changed the returned status code on the master branch to 404, however, if you'd like to discuss it further I'd be available.

I think you are missing the point of an asynchronous HTTP request. 
The request is for an authentication to be "created".  Since the server is not able to respond it synchronously, it returns a 202 status code, with an URI for a resource. The important question here is: "what resource this returned URI identifies"? My suggestion is that this resource is the created authentication request. Once the request was created, makes no sense to return a 404 for a resource that already exists, so every further request to that resource should return a 200. Another different aspect the state of that resource that should be defined by the response body representation, that will change when the authentication result is know. 
Therefore I suggest this issue to be reopened and implemented accordingly.

Since the Authentication API polling mechanism is inspired by OpenID CIBA, the documentation for the [Token Error Response](https://openid.net/specs/openid-connect-core-1_0.html#TokenErrorResponse) (used when the polling request fails), describes that it's a bad request (400), therefore I'm not sure if we should change the status code at all. 

In my opinion it makes sense to be a client error, since it states that the client should keep retrying, within the limits. However, I'll re-open this issue, and it'll be discussed in our next meeting.

Thank you 

@lfalcao-isel @CatarinaPalma-325 

We've discussed this issue in the last core meeting and decided to stick to the [OpenID Token Error Response](https://openid.net/specs/openid-connect-core-1_0.html#TokenErrorResponse) that states that the response code is a 400 (bad request).

Moreover, we've also changed the POLL endpoint method to `POST`, as it made no sense to be a `GET`, and the documentation is now updated with the latest changes.

As a result, I'm closing this issue, however, if you have any more questions, please feel free to comment.